main {
	font-size: 0;
	padding: 30px;
}

.container {
	margin: auto;
	width: 800px;
	height: 500px;
}

.top {
	border: 1px solid black;
	width: 50%;
	height: 200px;
	display: inline-block;
}

.green {
	background-color: green;
	}

.blue {
	
	background-color: blue;
	}

.bottom {
	border: 1px solid black;
	width: 33.33%;
	height: 300px;
	display: inline-block;
}

.brown {
	background-color: DarkGrey;
}

.black {
	background-color: black;
}

.orange {
	background-color: orange;
}